@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/centurygothic/century.eot');
    src: url('../fonts/centurygothic/century.eot') format('embedded-opentype'),
         url('../fonts/centurygothic/century.woff') format('woff'),
         url('../fonts/centurygothic/century.ttf') format('truetype'),
         url('../fonts/centurygothic/century.svg#CenturyGothic') format('svg');
	font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/centurygothic/century_bold.eot');
    src: url('../fonts/centurygothic/century_bold.eot') format('embedded-opentype'),
         url('../fonts/centurygothic/century_bold.woff') format('woff'),
         url('../fonts/centurygothic/century_bold.ttf') format('truetype'),
         url('../fonts/centurygothic/century_bold.svg#CenturyGothic') format('svg');
	font-weight: 600;
    font-style: normal;
}
@font-face {
	font-family: 'Tall Film';
	src: url('../fonts/tallfilm/tallfilm.eot');
    src: url('../fonts/tallfilm/tallfilm.eot') format('embedded-opentype'),
         url('../fonts/tallfilm/tallfilm.woff') format('woff'),
         url('../fonts/tallfilm/tallfilm.ttf') format('truetype'),
         url('../fonts/tallfilm/tallfilm.svg#tallfilm') format('svg');font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'CenturyGothic';
	font-size: 16px;
}
body, html {	height: 100%; }
#preloader { 
display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255,255,255,1);
    top:0; left:0;
    background-image: url(../img/loading.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}
a { transtision: all ease 0.5s;}
a:hover { text-decoration: none}
.nopadding { padding-left: 0; padding-right: 0; }
header { text-align: center;}
header hr { 
    position: relative;
    top: -48px;
    border: 0;
    border-top: 2px solid #000;
    margin: 0;
    padding: 0;
}
header img { max-width: 400px}
nav ul { list-style: none;}
nav ul li {  display: inline; text-transform: uppercase; font-size: 120%; letter-spacing: 5px; margin-bottom: 40px }
nav ul a { color: #000; transition: all ease 0.3s; }
nav ul a li:after { 
	transition: all ease 0.3s;
	content: "·";
    border-radius: 20px;
    background: #FFF;
    padding: 0px 0px;
    color: #FFF;
    font-size: 10px;
    position: absolute;
    top: 20px;
    margin: 15px 5px 0 0;
    right: 50%;
}  
nav ul a:hover li:after {
    background: #000;
    color: #000;
    font-size: 14px;
    padding: 0px 5px;
    margin: 10px 0 0 0;
}
nav ul a:hover {color:#DADADA}

footer {
    background: #1A1A1A;
    color: #FFF;
    padding: 10px 0;
/*    position: absolute !important;*/
    bottom: 0
}
footer a { color: #FFF }
footer a:hover { color: #DADADA}
footer small { font-size: 60%; text-transform: uppercase; color: #6F6F6F;}

h1 { font-family: 'Tall Film'; text-transform: uppercase; text-align: center;
    border-bottom: 2px solid #000;
    font-size: 600%;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-control { width: 7%; opacity: .3;}
.carousel-control.right, .carousel-control.left{ background-image: none; top: 50%;}
.carousel-indicators li, .carousel-indicators .active { width: 20px; height: 20px; }
.carousel-indicators li {  opacity: 0.4; border: 4px solid #000; }

/*ESCUELA*/
nav#escuela-menu, nav#productora-menu {  display: inline;  position: absolute;      top: 40%;      left: 0;      z-index: 2;      transition: all ease 0.3s;  }
nav#escuela-menu ul a:first-child, nav#productora-menu ul a:first-child { display: none }
nav#escuela-menu ul li, nav#productora-menu ul li {
  text-transform: initial;    font-size: 200%;    display: list-item;    letter-spacing: 2px;    width: 100%;
    margin-bottom: 30px;    height: 40px;
}
nav#escuela-menu ul li:hover, nav#productora-menu ul li:hover { color:rgba(0,0,0,0.4);}
nav#escuela-menu ul a:active, nav#productora-menu ul a:active { text-decoration: none }
nav#escuela-menu ul a:hover li:after, nav#productora-menu ul a:hover li:after {    background: #FFF;      border: solid #000 4px; }
nav#escuela-menu ul li:after, nav#productora-menu ul li:after {
    transition: all ease 0.3s;    display: block;    content: "·";    border-radius: 20px;
    background: #FFF;    padding: 0px 0px;    color: #FFF;    font-size: 10px;
    position: relative;    top: 0;    margin: 5px 5px 0 0;    left: 50px;    width: 20px;    height: 20px;
}
h1.fixedtitle {   width: 100%;    position: absolute;     z-index: 99;    top: 50px;  }
h1.fixedtitle a { color:#000; }
h1.fixedtitle a:hover { color:#000; text-decoration: none }
.cronograma-materias ul li { list-style: none; }
.btn.btn-inscripciones{
  background: #000;
  color: #FFF;
  font-family: 'Tall Film';
  text-transform: uppercase;
  font-size: 250%;
  letter-spacing: 5px;
  border-radius: 8px;
  font-weight: bold;
  padding: 4px 10px 0px 15px;
}
.register-instructions {   
  background: #FFF;      padding: 25px;    margin-top: -134px; text-shadow:1px 1px 3px #FFF;
  position: absolute; bottom:-150px;
}

#infantil { 
  background-image: url(../images/models-view-escuela-infantil.jpg);
}
#pre-juvenil { 
  background-image: url(../images/models-view-escuela-juvenil.jpg);
}
#juvenil { 
  background-image: url(../images/models-view-escuela-juvenil.jpg);
}
#taller-automaquillaje, #certificacion-5-estrellas {
    background-image: url(../images/models-view-escuela-proximamente.jpg); 
}
#infantil, #pre-juvenil, #juvenil { background-position: top left; background-size: cover }
#cursos { 
  background-image: url(../images/models-view-escuela.jpg); 
  background-position: top center;
}
#page-academia header, #page-productora header { top:0px;z-index: 99; position: relative;position: absolute; width: 100% }
#page-academia header img, #page-productora header img{  max-width: 250px; }
#page-academia header hr, #page-productora header hr {  top: -29px; }

/* PRODUCTORA */
#page-productora #main-menu { display: none }

#desfile-de-modas, #maniqui-viviente, #vitrinismo, 
#fotografia-de-moda, #estilismo, #promotoras { background-position: top left; background-size: cover }

#desfile-de-modas { background-image: url(../images/productora/desfile-de-modas.jpg);}
#maniqui-viviente { background-image: url(../images/productora/maniqui-viviente.jpg);}
#vitrinismo { background-image: url(../images/productora/vitrinismo.jpg);}
#fotografia-de-moda{ background-image: url(../images/productora/fotografia-de-moda.jpg);}
#estilismo { background-image: url(../images/productora/estilismo.jpg);}
#promotoras { background-image: url(../images/productora/promotoras.jpg);}

.whiteView {  border-bottom: 2px solid #FFF !important;     text-shadow: 1px 2px 5px #000; }
.whiteView a {color: #FFF !important;}

#page-productora .productora-content {
  margin: auto;
  width: 50%;
  background:rgba(255, 255, 255, 0.8);  
  padding: 20px 25px 30px 40px;
  line-height: 140%;
  font-size: 120%;
}
.productora-content h2 { text-transform: uppercase;    color: #000;  font-size: 300%; }

/* Agencia  de Modelos */
.model-item .info {
  background: #000;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 70%;
  border-radius: 0 50px 50px 0;
}
.model-item h3 {
  font-family: 'Tall Film'; color: #FFF;     font-size: 400%;    text-transform: uppercase;
}
.model-item .model-metadata {
  color: #FFF
}
#loadmore { height: 50px; width:50px; background-image: url(../img/loading.svg);
    display: inline-block;
    background-size: contain;
}

ul.category-menu {list-style: none; text-align: center;    padding: 0;}
ul.category-menu li { display: inline-block;  padding: 0 20px; }
ul.category-menu li a { color: #000}

#page-agencia footer, #page-women footer,
#page-men footer,
#page-kids footer,
#page-agencia h1.fixedtitle,
#page-women h1.fixedtitle,
#page-men h1.fixedtitle,
#page-kids h1.fixedtitle

{ position: inherit !important; }

#page-agencia article,
#page-women article,
#page-kids article,
#page-men article {
  margin-bottom: 20px;
  height: 500px;
}

#page-agencia .carousel-control img, 
#page-agencia .carousel-control img,
#page-men .carousel-control img, 
#page-men .carousel-control img,
#page-kids .carousel-control img, 
#page-kids .carousel-control img, 
#page-women .carousel-control img,
#page-women .carousel-control img
 { width: 50%}

